 <html>
    <body style="font-family: Arial, sans-serif; background-color: #1F2235; margin: 0; padding: 0;">
      <div style="max-width: 600px; margin: 0 auto; padding: 20px;">
        <p style="font-size: 18px; color: #efefef; line-height: 1.6; text-align: center; font-weight: bold;">
          Season's greetings, Centri Closet enthusiasts! 🎄
        </p>
        <p style="font-size: 18px; color: #efefef; line-height: 1.6; text-align: center;">
          Embrace joy as we unwrap exciting upgrades, making your shopping experience extraordinary. Happy holidays! 🌟
        </p>
        <!-- Add your poster image here -->
        <div style="text-align: center; margin: 20px;">
            <a href="https://centri-closet.vercel.app/">
                <img src="https://res.cloudinary.com/donr6ggui/image/upload/v1703409632/suszfhwev8pgdo15pbqt.png" width="300" height="300" style="max-width: 100%; height: auto; display: block;" alt="Happy holidays" />
            </a>
        </div>
        <p style="font-size: 18px; color: #efefef; line-height: 1.6;">
          We are thrilled to share that Centri Closet has exciting new features for you in the coming year!
        </p>
        <p style="font-size: 18px; color: #efefef; line-height: 1.6;">
          Thank you for your continued support. Wishing you a wonderful holiday season and looking forward to serving you in 2024!
        </p>
        <a href="https://campus-closet.vercel.app/electronics" style="display: inline-block; text-decoration: none; background-color: #F4A641; color: #fff; padding: 10px 20px; border-radius: 5px; font-size: 18px; margin-top: 20px;">
            Shop Now
          </a>
          <a href="https://docs.google.com/forms/d/e/1FAIpQLSdXE9Swi1YX1ZXnoKCgBNp3T8jIQNEf5DCVJcaYQ_pCUljzMA/viewform" style="display: inline-block; text-decoration: none; background-color: #F4A641; color: #fff; padding: 10px 20px; border-radius: 5px; font-size: 18px; margin-top: 20px;">
            Take the Survey
          </a>
          <p style="font-size: 18px; color: #efefef; line-height: 1.6; text-align: center; margin-top: 20px;">
            Follow us on <a href="https://Instagram.com/justoegitau" style="color: #F4A641; text-decoration: underline;">Instagram</a> and <a href="https://facebook.com/justoegitau" style="color: #F4A641; text-decoration: underline;">Facebook</a> for updates!
          </p>
                              
      </div>
    </body>
    </html>