

@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    scroll-behavior: smooth;
  }
  iframe {
    border: none;
    background-color: transparent;
  }
  
  
.App{
    height: auto;
    min-height: 100vh;
    /* background-image: url("photos/Young.jpg"); */
    background-color: #1F2235;
    /* background-size: cover;
    background-repeat: no-repeat; */
}
.menuItems a.active{
    background-color: rgb(42, 151, 165);
    color: white;
    border-radius: 10px;
    padding: 8px;
}
.about{
    margin-top: -20px;
}
.mybio{
    color: aqua;
}
.welcomed{
    font-family: 'Pacifico', cursive;
}


.footer-contact {
    flex: 1 1 300px;
    margin-right: 2rem;
  }
  
  .footer-contact form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin-top: 1rem;
  }
  
  .footer-contact form h3 {
    font-size: 1.0rem;
    margin-bottom: 0.5rem;
    color: #000;
  }
  
  .footer-contact form .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.2rem;
  }
  
  .footer-contact form label {
    margin-bottom: 0.2rem;
  }
  
  .footer-contact form input,
  .footer-contact form textarea {
    padding: 0.5rem;
    font-size: 0.7rem;
    border-color: gold;
    border-radius: 3px;
  }
  
  .footer-contact form button {
    padding: 0.3rem 0.7rem;
    font-size: 1rem;
    background-color: #b4b1b1;
    color: green ;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .footer-contact form button:hover {
    background-color: #ccc;
  }
  .tenantconnect{
    width: 330px !important;
    @apply mr-2
  }
@media (max-width: 768px) {
  .tenantconnect{
    width: 330px !important;
    @apply mr-2
  }
    .welcome{
        margin-left: 20px;
    }
    .menuItems{
        flex-direction: column;
        color: white;
        line-height: 1.9;
        z-index: 20;
    }
    .projects{
        display: block;
    }
    /* .projects div{
        width: 97%;
        margin-top: 20px;
    } */
    .Bio{
    width: 94%;
    margin-left: 20px;
    }
    .sociallize{
        margin-left: 20px;
    }
    .greetings{
        font-size: 1.2rem;
    }
    .myImage{
        margin-left: 100px;
    }
}
@media (max-width: 360px) {
    .myImage{
        margin-left: 10px;
        margin-top: -50px;
    }
    .tenantconnect{
      width: 230px !important;
      @apply mr-2
    }
}


/* styles.css */

@keyframes swing {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.swinging-image {
  animation: swing 2s infinite;
  transform-origin: bottom center;
}

@keyframes moveEastWest {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(70px); /* Adjust the distance to your preference */
  }
  100% {
    transform: translateX(0);
  }
}

.moving-image {
  animation: moveEastWest 5s infinite; /* Adjust the duration as needed */
}

